.footer-about .text {
	padding-top: 25px;
	font-size: 16px;
}

.footer-title .title {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 900;
	color: #222;
}

.footer-link ul li {
	margin-top: 25px;
}

.footer-link ul li a {
	font-size: 16px;
	color: #798795;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.footer-link ul li a:hover {
	color: #222;
}

.footer-contact .text {
	font-size: 16px;
	padding-top: 15px;
}

.footer-contact .social li {
	display: inline-block;
	margin-right: 26px;
}

.footer-contact .social li:last-child {
	margin-right: 0;
}

.footer-contact .social li a {
	font-size: 26px;
	color: #798795;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}

.footer-contact .social li a:hover {
	color: #f14836;
}

.footer-copyright {
	padding: 25px;
}

.footer-copyright .text {
	font-size: 16px;
}

.footer-copyright .text a {
	color: #f14836;
}