.blog-details-area {
  background-color: #FFFFFF;
}

.page-title span {
	font-weight: 700;
	color: #f14836;
	display: contents
}

.details-image img {
	width: 30%;
  float: left;
  margin-right: 20px;
}

@media(max-width:767px) {
	.details-image img {
    width: 100%;
    float: none;
    margin-right: 0px;
  }
  
}

.blog-details-content .details-title {
	font-size: 24px;
	font-weight: 600;
	max-width: 680px;
	margin-top: 45px
}

@media(max-width:767px) {
	.blog-details-content .details-title {
		font-size: 20px
	}
}

.blog-details-content .text {
	margin-top: 20px
}

.blog-details-content .blog-share span {
	font-size: 14px;
	font-weight: 700;
	color: #222;
	font-family: nunito, sans-serif
}

.blog-details-content .blog-share .social {
  margin-top: 10px;
}

.blog-details-content .blog-share .social li {
	display: inline-block;
	margin-left: 10px;
	font-size: 16px;
	color: #a4a4a4;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	margin-right: 20px;
	margin-top: 10px;
}

.blog-details-content .blog-share .social li i {
	margin-right: 8px
}

.blog-details-content .blog-share .social li:hover {
	color: #f14836
}

.blog-sidebar-wrapper {
	border: 1px solid #dedede4f
}

.blog-sidebar-wrapper .sidebar-title {
	padding: 15px 30px;
	border-bottom: 1px solid #dedede4f
}

.blog-sidebar-wrapper .sidebar-title .title {
	font-size: 18px;
	font-weight: 500
}

.blog-project .book-info {
	padding: 20px 30px 30px;
	border-bottom: 1px solid #dedede4f
}

.blog-project .book-info ul li {
	color: #798795;
	font-size: 14px;
	margin-top: 10px;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	display: block;
}

.blog-project .book-info ul li span {
	float: right;
  font-weight: bold;
}

.blog-ratting .ratting-list {
	padding: 20px 30px 30px
}

.blog-ratting .ratting-list ul li {
	color: #798795;
	font-size: 14px;
	margin-top: 10px;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	display: block
}

.blog-ratting .ratting-list ul li:hover {
	color: #f14836
}

.blog-ratting .ratting-list ul li span {
	float: right
}